<h1>Editando o set de cosmos</h1>
<div class="card text-dark p-3">
  <%= form_for [@character, @cosmos_set] do |f| %>
    <div class="row">
      <div class="form-group col-lg-3">
        <h5>Lendário</h5>
        <%= select_tag "cosmos_set[cosmos_ids][]", options_from_collection_for_select(@legendary, "id", "name"), class: 'form-control' %>
      </div>
      <div class="form-group col-lg-3">
        <h5>Solar</h5>
        <%= select_tag "cosmos_set[cosmos_ids][]", options_from_collection_for_select(@solar, "id", "name"), class: 'form-control' %>
      </div>
      <div class="form-group col-lg-3">
        <h5>Lunar</h5>
        <%= select_tag "cosmos_set[cosmos_ids][]", options_from_collection_for_select(@lunar, "id", "name"), class: 'form-control' %>
      </div>
      <div class="form-group col-lg-3">
        <h5>Estelar</h5>
        <%= select_tag "cosmos_set[cosmos_ids][]", options_from_collection_for_select(@stellar, "id", "name"), class: 'form-control' %>
      </div>
    </div>
    <%= f.submit 'Enviar', class: 'btn btn-success float-right' %>
    <%= link_to 'Voltar', @character, class: 'btn btn-primary' %>
  <% end %>
</div