<h1>Editando '<%= @skill.name %>' de <%= @character.name %></h1>
<div class="card text-dark">
  <div class="p-5">
    <%= form_for @skill, url: character_skill_path do |f| %>
    <div class="row">
      <div class="form-group col-10">
        <%= f.label :name, "Nome", class: 'h3' %>
        <%= f.text_field :name, class: 'form-control' %>
      </div>
      <div class="form-group col-2">
        <%= f.label :cost, "Custo", class: 'h3' %>
        <%= f.text_field :cost, class: 'form-control' %>
      </div>
    </div>
    <div class="form-group">
      <%= f.label :picture, 'Foto', class: 'h3' %>
      <%= f.file_field :picture, class: 'form-control-file' %>
    </div>
    <p>
      <%= f.label :description, "Descrição", class: 'h3' %>
      <%= f.text_area :description, class: 'form-control', rows: '6;' %>
    </p>
    
    <div style="columns: 4;">
      <%= f.collection_check_boxes :effect_ids, Effect.all.order(name: :asc), :id, :name do |b| %>
      <div class="form-check">
        <%= b.check_box %>
        <%= b.label %>
      </div>
    <% end %>
    </div>
    <br>
    <%= link_to 'Adicionar mais efeitos', new_effect_path %>

    <br>

    <h3>Skill ups: </h3>
    <ol>
    <% if @skill.levels.present? %>
        <% @skill.levels.each do |level| %>
          <li>
            <%= text_area_tag "skill[levels][]", level, class: 'form-control m-2' %>
          </li>
        <% end %>
    <% else %>
      <li> <%= text_area_tag "skill[levels][]", nil, class: 'form-control m-2' %> </li>
      <li> <%= text_area_tag "skill[levels][]", nil, class: 'form-control m-2' %> </li>
      <li> <%= text_area_tag "skill[levels][]", nil, class: 'form-control m-2' %> </li>
      <li> <%= text_area_tag "skill[levels][]", nil, class: 'form-control m-2' %> </li>
      <li> <%= text_area_tag "skill[levels][]", nil, class: 'form-control m-2' %> </li>
    <% end %>
  </ol>

    <%= link_to  "Voltar", character_path(@character), class: 'btn btn-primary' %>
    <%= f.submit 'Enviar', class: 'btn btn-success float-right' %>
  <% end %>
  </p>
</div>