<nav id="navbar">
   <ul>
    <li><%= link_to  "Home", root_path %></li>
    <li><%= link_to  "Constelações", constellations_path %></li>
    <li><%= link_to  "Ranks", ranks_path %></li>
    <li><%= link_to  "Efeitos de skill", effects_path %></li>
    <li><%= link_to  "Personagens", characters_path %></li>
    <li><%= link_to  "Tipos de Cosmos", cosmo_types_path %></li>

    <li>
      <% if user_signed_in? %>
        <%= link_to  "Meu Perfil", edit_user_registration_path %>
        <%= link_to  "Sair", destroy_user_session_path, method: :delete %>
      <% else %>
        <%= link_to  "Registre-se", new_user_registration_path %> |
        <%= link_to  "Entrar", new_user_session_path %>
      <% end %>
    </li>
  </ul>
</nav>

<style>
#navbar li{
  display:inline-block;
}
</style>