<div class="row justify-content-center">
  <!-- RANK SS -->

  <div class="col-lg-8 my-3">
    <div class="card card-glow card-rounded">
    <div class="card-header">
      <h1 class="text-center">Rank SS</h1>
    </div>

    <div class="card-body">
      <p>Por level:</p>
      <ol>
        <li>
          <span class="nowrap"><%= image_tag '/assets/shared/star_pulse.png', size: 30, title: 'Star Pulse' %> x 5</span> + 
          <span class="nowrap"><%= image_tag '/assets/shared/gold.png', size: 30, title: 'Gold' %> x 1.750.000</span>
        </li>

        <li>
          <span class="nowrap"><%= image_tag '/assets/shared/star_jade.png', size: 30, title: 'Star Jade' %> x 5</span> + 
          <span class="nowrap"><%= image_tag '/assets/shared/solar_dust.png', size: 30, title: 'Solar Dust' %> x 50</span> + 
          <span class="nowrap"><%= image_tag '/assets/shared/exp_potion.png', size: 30, title: 'Exp Potion' %> x 600.000</span>
        </li>

        <li>
          <span class="nowrap"><%= image_tag '/assets/shared/star_jade.png', size: 30, title: 'Star Jade' %> x 10</span> + 
          <span class="nowrap"><%= image_tag '/assets/shared/solar_dust.png', size: 30, title: 'Solar Dust' %> x 100</span> + 
          <span class="nowrap"><%= image_tag '/assets/shared/exp_potion.png', size: 30, title: 'Exp Potion' %> x 700.000</span>
        </li>

        <li>
          <span class="nowrap"><%= image_tag '/assets/shared/star_jade.png', size: 30, title: 'Star Jade' %> x 15</span> + 
          <span class="nowrap"><%= image_tag '/assets/shared/solar_dust.png', size: 30, title: 'Solar Dust' %> x 150</span> + 
          <span class="nowrap"><%= image_tag '/assets/shared/exp_potion.png', size: 30, title: 'Exp Potion' %> x 800.000</span>
        </li>

        <li>
          <span class="nowrap"><%= image_tag '/assets/shared/star_jade.png', size: 30, title: 'Star Jade' %> x 25</span> + 
          <span class="nowrap"><%= image_tag '/assets/shared/solar_dust.png', size: 30, title: 'Solar Dust' %> x 250</span> + 
          <span class="nowrap"><%= image_tag '/assets/shared/exp_potion.png', size: 30, title: 'Exp Potion' %> x 900.000</span>
        </li>

        <li>
          <span class="nowrap"><%= image_tag '/assets/shared/star_jade.png', size: 30, title: 'Star Jade' %> x 50</span> + 
          <span class="nowrap"><%= image_tag '/assets/shared/solar_dust.png', size: 30, title: 'Solar Dust' %> x 600</span> + 
          <span class="nowrap"><%= image_tag '/assets/shared/exp_potion.png', size: 30, title: 'Exp Potion' %> x 1.200.000</span> +
          <span class="nowrap"><%= image_tag '/assets/shared/star_pulse.png', size: 30, title: 'Star Pulse' %> x 50</span> + 
          <span class="nowrap"><%= image_tag '/assets/shared/gold.png', size: 30, title: 'Gold' %> x 7.000.000</span>
        </li>
      </ol>
      <hr>
      <p>Total:</p>
      <ul style='list-style-type:none;'>
        <li class="nowrap"><%= image_tag '/assets/shared/star_jade.png', size: 40, title: 'Star Jade' %> x 105</li>
        <li class="nowrap"><%= image_tag '/assets/shared/solar_dust.png', size: 40, title: 'Solar Dust' %> x 1150</li>
        <li class="nowrap"><%= image_tag '/assets/shared/exp_potion.png', size: 40, title: 'Exp Potion' %> x 4.200.000</li>
        <li class="nowrap"><%= image_tag '/assets/shared/star_pulse.png', size: 40, title: 'Star Pulse' %> x 55</li>
        <li class="nowrap"><%= image_tag '/assets/shared/gold.png', size: 40, title: 'Gold' %> x 8.750.000</li>
      </ul>
    </div>
    </div>
  </div>

  <!-- RANK S -->

   <div class="col-lg-8 my-3">
    <div class="card card-glow card-rounded">
    <div class="card-header">
      <h1 class="text-center">Rank S</h1>
    </div>

    <div class="card-body">
      <p>Por level:</p>
      <ol>
        <li>
          <span class="nowrap"><%= image_tag '/assets/shared/star_pulse.png', size: 30, title: 'Star Pulse' %> x 3</span> + 
          <span class="nowrap"><%= image_tag '/assets/shared/gold.png', size: 30, title: 'Gold' %> x 1.050.000</span>
        </li>

        <li>
          <span class="nowrap"><%= image_tag '/assets/shared/star_jade.png', size: 30, title: 'Star Jade' %> x 4</span> + 
          <span class="nowrap"><%= image_tag '/assets/shared/solar_dust.png', size: 30, title: 'Solar Dust' %> x 40</span> + 
          <span class="nowrap"><%= image_tag '/assets/shared/exp_potion.png', size: 30, title: 'Exp Potion' %> x 500.000</span>
        </li>

        <li>
          <span class="nowrap"><%= image_tag '/assets/shared/star_jade.png', size: 30, title: 'Star Jade' %> x 7</span> + 
          <span class="nowrap"><%= image_tag '/assets/shared/solar_dust.png', size: 30, title: 'Solar Dust' %> x 70</span> + 
          <span class="nowrap"><%= image_tag '/assets/shared/exp_potion.png', size: 30, title: 'Exp Potion' %> x 600.000</span>
        </li>

        <li>
          <span class="nowrap"><%= image_tag '/assets/shared/star_jade.png', size: 30, title: 'Star Jade' %> x 12</span> + 
          <span class="nowrap"><%= image_tag '/assets/shared/solar_dust.png', size: 30, title: 'Solar Dust' %> x 120</span> + 
          <span class="nowrap"><%= image_tag '/assets/shared/exp_potion.png', size: 30, title: 'Exp Potion' %> x 700.000</span>
        </li>

        <li>
          <span class="nowrap"><%= image_tag '/assets/shared/star_jade.png', size: 30, title: 'Star Jade' %> x 20</span> + 
          <span class="nowrap"><%= image_tag '/assets/shared/solar_dust.png', size: 30, title: 'Solar Dust' %> x 200</span> + 
          <span class="nowrap"><%= image_tag '/assets/shared/exp_potion.png', size: 30, title: 'Exp Potion' %> x 800.000</span>
        </li>

        <li>
          <span class="nowrap"><%= image_tag '/assets/shared/star_jade.png', size: 30, title: 'Star Jade' %> x 40</span> + 
          <span class="nowrap"><%= image_tag '/assets/shared/solar_dust.png', size: 30, title: 'Solar Dust' %> x 480</span> + 
          <span class="nowrap"><%= image_tag '/assets/shared/exp_potion.png', size: 30, title: 'Exp Potion' %> x 1.000.000</span> +
          <span class="nowrap"><%= image_tag '/assets/shared/star_pulse.png', size: 30, title: 'Star Pulse' %> x 30</span> + 
          <span class="nowrap"><%= image_tag '/assets/shared/gold.png', size: 30, title: 'Gold' %> x 4.200.000</span>
        </li>
      </ol>
      <hr>
      <p>Total:</p>
      <ul style='list-style-type:none;'>
        <li class="nowrap"><%= image_tag '/assets/shared/star_jade.png', size: 40, title: 'Star Jade' %> x 83</li>
        <li class="nowrap"><%= image_tag '/assets/shared/solar_dust.png', size: 40, title: 'Solar Dust' %> x 910</li>
        <li class="nowrap"><%= image_tag '/assets/shared/exp_potion.png', size: 40, title: 'Exp Potion' %> x 3.600.000</li>
        <li class="nowrap"><%= image_tag '/assets/shared/star_pulse.png', size: 40, title: 'Star Pulse' %> x 33</li>
        <li class="nowrap"><%= image_tag '/assets/shared/gold.png', size: 40, title: 'Gold' %> x 5.250.000</li>
      </ul>
    </div>
    </div>
  </div>

  <!-- RANK A -->

   <div class="col-lg-8 my-3">
    <div class="card card-glow card-rounded">
    <div class="card-header">
      <h1 class="text-center">Rank A</h1>
    </div>

    <div class="card-body">
      <p>Por level:</p>
      <ol>
        <li>
          <span class="nowrap"><%= image_tag '/assets/shared/star_pulse.png', size: 30, title: 'Star Pulse' %> x 2</span> + 
          <span class="nowrap"><%= image_tag '/assets/shared/gold.png', size: 30, title: 'Gold' %> x 700.000</span>
        </li>

        <li>
          <span class="nowrap"><%= image_tag '/assets/shared/star_jade.png', size: 30, title: 'Star Jade' %> x 3</span> + 
          <span class="nowrap"><%= image_tag '/assets/shared/solar_dust.png', size: 30, title: 'Solar Dust' %> x 30</span> + 
          <span class="nowrap"><%= image_tag '/assets/shared/exp_potion.png', size: 30, title: 'Exp Potion' %> x 400.000</span>
        </li>

        <li>
          <span class="nowrap"><%= image_tag '/assets/shared/star_jade.png', size: 30, title: 'Star Jade' %> x 5</span> + 
          <span class="nowrap"><%= image_tag '/assets/shared/solar_dust.png', size: 30, title: 'Solar Dust' %> x 50</span> + 
          <span class="nowrap"><%= image_tag '/assets/shared/exp_potion.png', size: 30, title: 'Exp Potion' %> x 500.000</span>
        </li>

        <li>
          <span class="nowrap"><%= image_tag '/assets/shared/star_jade.png', size: 30, title: 'Star Jade' %> x 9</span> + 
          <span class="nowrap"><%= image_tag '/assets/shared/solar_dust.png', size: 30, title: 'Solar Dust' %> x 90</span> + 
          <span class="nowrap"><%= image_tag '/assets/shared/exp_potion.png', size: 30, title: 'Exp Potion' %> x 600.000</span>
        </li>

        <li>
          <span class="nowrap"><%= image_tag '/assets/shared/star_jade.png', size: 30, title: 'Star Jade' %> x 150</span> + 
          <span class="nowrap"><%= image_tag '/assets/shared/solar_dust.png', size: 30, title: 'Solar Dust' %> x 150</span> + 
          <span class="nowrap"><%= image_tag '/assets/shared/exp_potion.png', size: 30, title: 'Exp Potion' %> x 700.000</span>
        </li>

        <li>
          <span class="nowrap"><%= image_tag '/assets/shared/star_jade.png', size: 30, title: 'Star Jade' %> x 30</span> + 
          <span class="nowrap"><%= image_tag '/assets/shared/solar_dust.png', size: 30, title: 'Solar Dust' %> x 360</span> + 
          <span class="nowrap"><%= image_tag '/assets/shared/exp_potion.png', size: 30, title: 'Exp Potion' %> x 900.000</span> +
          <span class="nowrap"><%= image_tag '/assets/shared/star_pulse.png', size: 30, title: 'Star Pulse' %> x 20</span> + 
          <span class="nowrap"><%= image_tag '/assets/shared/gold.png', size: 30, title: 'Gold' %> x 2.800.000</span>
        </li>
      </ol>
      <hr>
      <p>Total:</p>
      <ul style='list-style-type:none;'>
        <li class="nowrap"><%= image_tag '/assets/shared/star_jade.png', size: 40, title: 'Star Jade' %> x 62</li>
        <li class="nowrap"><%= image_tag '/assets/shared/solar_dust.png', size: 40, title: 'Solar Dust' %> x 680</li>
        <li class="nowrap"><%= image_tag '/assets/shared/exp_potion.png', size: 40, title: 'Exp Potion' %> x 3.100.000</li>
        <li class="nowrap"><%= image_tag '/assets/shared/star_pulse.png', size: 40, title: 'Star Pulse' %> x 22</li>
        <li class="nowrap"><%= image_tag '/assets/shared/gold.png', size: 40, title: 'Gold' %> x 3.500.000</li>
      </ul>
    </div>
    </div>
  </div>

  <!-- RANK B -->

   <div class="col-lg-8 my-3">
    <div class="card card-glow card-rounded">
    <div class="card-header">
      <h1 class="text-center">Rank B</h1>
    </div>

    <div class="card-body">
      <p>Por level:</p>
      <ol>
        <li>
          <span class="nowrap"><%= image_tag '/assets/shared/star_pulse.png', size: 30, title: 'Star Pulse' %> x 1</span> + 
          <span class="nowrap"><%= image_tag '/assets/shared/gold.png', size: 30, title: 'Gold' %> x 350.000</span>
        </li>

        <li>
          <span class="nowrap"><%= image_tag '/assets/shared/star_jade.png', size: 30, title: 'Star Jade' %> x 1</span> + 
          <span class="nowrap"><%= image_tag '/assets/shared/solar_dust.png', size: 30, title: 'Solar Dust' %> x 10</span> + 
          <span class="nowrap"><%= image_tag '/assets/shared/exp_potion.png', size: 30, title: 'Exp Potion' %> x 200.000</span>
        </li>

        <li>
          <span class="nowrap"><%= image_tag '/assets/shared/star_jade.png', size: 30, title: 'Star Jade' %> x 2</span> + 
          <span class="nowrap"><%= image_tag '/assets/shared/solar_dust.png', size: 30, title: 'Solar Dust' %> x 20</span> + 
          <span class="nowrap"><%= image_tag '/assets/shared/exp_potion.png', size: 30, title: 'Exp Potion' %> x 300.000</span>
        </li>

        <li>
          <span class="nowrap"><%= image_tag '/assets/shared/star_jade.png', size: 30, title: 'Star Jade' %> x 5</span> + 
          <span class="nowrap"><%= image_tag '/assets/shared/solar_dust.png', size: 30, title: 'Solar Dust' %> x 50</span> + 
          <span class="nowrap"><%= image_tag '/assets/shared/exp_potion.png', size: 30, title: 'Exp Potion' %> x 400.000</span>
        </li>

        <li>
          <span class="nowrap"><%= image_tag '/assets/shared/star_jade.png', size: 30, title: 'Star Jade' %> x 90</span> + 
          <span class="nowrap"><%= image_tag '/assets/shared/solar_dust.png', size: 30, title: 'Solar Dust' %> x 90</span> + 
          <span class="nowrap"><%= image_tag '/assets/shared/exp_potion.png', size: 30, title: 'Exp Potion' %> x 500.000</span>
        </li>

        <li>
          <span class="nowrap"><%= image_tag '/assets/shared/star_jade.png', size: 30, title: 'Star Jade' %> x 18</span> + 
          <span class="nowrap"><%= image_tag '/assets/shared/solar_dust.png', size: 30, title: 'Solar Dust' %> x 2160</span> + 
          <span class="nowrap"><%= image_tag '/assets/shared/exp_potion.png', size: 30, title: 'Exp Potion' %> x 600.000</span> +
          <span class="nowrap"><%= image_tag '/assets/shared/star_pulse.png', size: 30, title: 'Star Pulse' %> x 10</span> + 
          <span class="nowrap"><%= image_tag '/assets/shared/gold.png', size: 30, title: 'Gold' %> x 1.400.000</span>
        </li>
      </ol>
      <hr>
      <p>Total:</p>
      <ul style='list-style-type:none;'>
        <li class="nowrap"><%= image_tag '/assets/shared/star_jade.png', size: 40, title: 'Star Jade' %> x 35</li>
        <li class="nowrap"><%= image_tag '/assets/shared/solar_dust.png', size: 40, title: 'Solar Dust' %> x 386</li>
        <li class="nowrap"><%= image_tag '/assets/shared/exp_potion.png', size: 40, title: 'Exp Potion' %> x 2.000.000</li>
        <li class="nowrap"><%= image_tag '/assets/shared/star_pulse.png', size: 40, title: 'Star Pulse' %> x 11</li>
        <li class="nowrap"><%= image_tag '/assets/shared/gold.png', size: 40, title: 'Gold' %> x 1.750.000</li>
      </ul>
    </div>
    </div>
  </div>
</div>