<% content_for :head do %>
  <meta name="turbolinks-visit-control" content="reload">
  <meta name="turbolinks-cache-control" content="no-cache">
<% end %>

<div id="viewer">
  <div class="cross"><span>+</span>
    <div class="coordinates">
      <div class="latitude"></div>
      <div class="longitude"></div>
    </div>
  </div>
</div>

<style>
  #yield{
    max-width: 100%;
    margin: 0;
    padding: 0;
    border: 0;
    margin-top: -16px;
  }

  #footer {
    margin-top: 0;
  }
</style>

<script>
  var constellations = [
  <% @constellations.each do |constellation| %>
  {
    id: '<%= constellation.name %>',
    image: '<%= url_for constellation.picture %>',
    tooltip: 'Constelação de <%= constellation.name %>',
    width: 256,
    height: 256,
    latitude: <%= constellation.latitude %>,
    longitude: <%= constellation.longitude %>,
    content: '<h1>Personagens</h1><hr> ' +
              '<% constellation.characters.each do |char| %>' +
                '<%= content_tag(:li, link_to(char.name, character_path(char))) %>' +
              '<% end %>'
  },
  <% end %>
 ]

</script>