<div id="viewer">
  <div class="cross">+
    <div class="coordinates">
      <div class="latitude"></div>
      <div class="longitude"></div>
    </div>
  </div>
</div>

<style>
  .psv-navbar{
    background: none;
  }
  #viewer {
    width: 100vw;
    height: 100vh;
  }

  .cross{
    position: absolute;
    top: 56%;
    right: 50%;
    font-size: 16px;
    color: white;
    height: auto; 
    width: auto;
    padding: 0;
    z-index: 20;
  }

  .coordinates {
    position: relative;
    top: -36px;
    right: -15px;
  }

  .summon {
    width: 128px;
    height: 128px;
    background-image: url('../media/images/360/summon.png');
    padding: 0;
    position: fixed;
    right: 47vw;
    bottom: 0vh;
  }

  .summon:hover {
    filter: drop-shadow(0 0 20px rgba(255, 255, 255, 0.8));
  }

  #yield{
    max-width: 100%;
    margin: 0;
    padding: 0;
    border: 0;
    margin-top: -16px;
  }

  #footer {
    margin-top: 0;
  }
</style>

<script>
  var constellations = [
  <% @constellations.each do |constellation| %>
  {
    id: '<%= constellation.name %>',
    image: '<%= url_for constellation.picture %>',
    tooltip: 'Constelação de <%= constellation.name %>',
    width: 256,
    height: 256,
    latitude: <%= constellation.latitude %>,
    longitude: <%= constellation.longitude %>
  },
  <% end %>
 ]

</script>