<h1>Todos Cosmos</h1>
<div class="admin">
  <ul>
    <li><%= link_to  "Tipos de Cosmos", cosmo_types_path %></li>
    <li><%= link_to  "Cosmos Base", cosmo_basics_path %></li>
  </ul>
  <%= link_to  "Registrar novo cosmo  ", new_cosmo_path %>
</div>

<div class="card text-dark">
  <div class="row">
<% @cosmos.each do |cosmo| %>

<div class="col-4" style="border:1px solid black">
  <ul>
    <% if cosmo.picture.attached? %>
      <li><%= image_tag cosmo.picture %></li>
    <% end %>
    <li>Nome: <%= cosmo.name %></li>
    <li>Tipo: <%= cosmo.cosmo_type.name %></li>
    <li>Cosmos Base: </li>
        <% cosmo.cosmo_basics.each do |base| %>
      <ul>
        <li><%# image_tag('cosmos/' + base.name + '.png') %> <%= base.name %></li>    
      </ul>
    <% end %>
    <li>Set Bonus: <%= cosmo.set %></li>
    <span class="admin"><%= link_to  "Editar", edit_cosmo_path(cosmo) %> |
      <%= link_to  "Deletar", cosmo_path(cosmo), method: :delete, data: {confirm: 'Deseja deletar o cosmos?'} %></span>
  </ul>
</div>

<% end %>

</div>
</div>