<%= form_with model: character, local: true do |f| %>

  <div class="row">
    <div class="form-group col-lg-6">
      <%= f.label :name %>
      <%= f.text_field :name, class: 'form-control' %>
    </div>

    <div class="form-group col-lg-2">
    <%= f.label :rank_id, 'Rank' %>
    <%= f.collection_select :rank_id, Rank.all, :id, :name, {}, class: 'form-control' %>
    </div>

    <div class="form-group col-lg-4">
    <%= f.label :constellation_id %>
    <%= f.collection_select :constellation_id, Constellation.all, :id, :name, {}, class: 'form-control' %>
    </div>

    <div class="form-group col-lg-6">
    <%= f.label :picture, 'Foto' %>
    <%= f.file_field :picture, class: 'form-control-file' %>
    </div>
  </div>

  <%= link_to 'Voltar', characters_path, class: 'btn btn-danger' %>
  <%= f.submit 'Enviar', class: 'btn btn-success float-right' %>
<% end %>