<!-- <h1>Listagem de todos personagens</h1> -->
<%= link_to("Cadastrar novo personagem", new_character_path, class: 'admin') %>

<br>

<div class="p-2">
    <div class="row">
      <div class="form-group col-lg-2 col-4">
        <!-- collection_ranks, :first, :second, ao inves de Rank.all para adicionar 'Todos' -->
      <%= collection_select(nil, :rank_id, collection_ranks, :first, :second, { selected: '0'}, {class: 'form-control', onchange: 'search()'}) %>
      </div>
      <div class="form-group col-lg-4 col-8">
      <%= select_tag :order, options_for_select([['Pontos de Vida', 'health'], ['Ataque Físico', 'patk'], ['Defesa Física', 'pdef'], ['Ataque Cósmico', 'matk'], ['Defesa Cósmica', 'mdef'], ['Velocidade', 'speed']]), 
                     { prompt: 'Ordenar por...', class: 'form-control', selected: params[:order], onchange: 'search()' } %>
      </div>
      <div class="form-group col-lg-6">
        <%= text_field_tag :q, params[:q], class: 'form-control search-field', placeholder: 'Buscar Personagem' %>
        <%= content_tag(:button, fa_icon("search 2x"), class: 'form-control-feedback') %>
      </div>
    </div>
</div>

<div class="row" id="characters-grid">
  <%= render @characters %>
  <%== pagy_bootstrap_nav(@pagy) %>
</div>

<script>
  $('#q').keyup( function() {
    search_text = $('.search-field').val()
    if (search_text.length > 2 || search_text.length == 0) { search() }
  })
</script>