<h1>Cadastrar um novo Personagem</h1>

<%= form_with model: @character do |f| %>
  <%= f.label :name, 'Nome' %>
  <%= f.text_field :name %>

  <%= f.label :rank, 'Rank' %>
  <%= f.text_field :rank %>

  <%= f.fields_for :base_attibute do |builder| %>
    <%= builder.label :health, 'health' %>
    <%= builder.text_field :health %>

    <%= builder.label :patk, 'patk' %>
    <%= builder.text_field :patk %>

    <%= builder.label :pdef, 'pdef' %>
    <%= builder.text_field :pdef %>

    <%= builder.label :matk, 'matk' %>
    <%= builder.text_field :matk %>

    <%= builder.label :mdef, 'mdef' %>
    <%= builder.text_field :mdef %>

    <%= builder.label :speed, 'speed' %>
    <%= builder.text_field :speed %>
  <% end %>

  <%= f.submit 'Enviar' %>
<% end %>