<h1>Personagem</h1>

<ul>
  <li>Nome: <%= @character.name %></li>
  <li>Rank: <%= @character.rank %></li>
  <li>Vida: <%= @character.stat.health %></li>
  <li>Ataque: <%= @character.stat.patk %></li>
  <li>Defesa: <%= @character.stat.pdef %></li>
  <li>Ataque Mágico: <%= @character.stat.matk %></li>
  <li>Defesa Mágica: <%= @character.stat.mdef %></li>
  <li>Velocidade: <%= @character.stat.speed %></li>
</ul>
