<h1>Personagem</h1>
<ul>
  <li>
    <%= link_to  "Editar", edit_character_path(@character) %> |
    <%= link_to  "Deletar", character_path(@character), method: :delete %>
  </li>
  <% if @character.picture.attached? %>
    <li><%= image_tag @character.picture%></li>
  <% end %>
  <li>Nome: <%= @character.name %></li>
  <li>Rank: <%= @character.rank.name %></li>
  <li>Constelação: <%= @character.constellation.name %></li>


  <h2>Status</h2>
  <% if @character.stat %>
    <li>
      <%= link_to  "Editar", edit_character_stat_path(@character, @character.stat) %> |
      <%= link_to  "Deletar", character_stat_path(@character, @character.stat), method: :delete %>
    </li>
    <li>Vida: <%= @character.stat.health %></li>
    <li>Ataque: <%= @character.stat.patk %></li>
    <li>Defesa: <%= @character.stat.pdef %></li>
    <li>Ataque Mágico: <%= @character.stat.matk %></li>
    <li>Defesa Mágica: <%= @character.stat.mdef %></li>
    <li>Velocidade: <%= @character.stat.speed %></li>
  <% else %>
    <%= link_to  "Cadastrar Status", new_character_stat_path(@character) %>
  <% end %>
  
  <h2>Skills</h2>
  <% if @character.skills %>
    <% @character.skills.each do |skill| %>
      <li>
        <%= link_to  "Editar", edit_character_skill_path(@character, skill) %> |
        <%= link_to  "Deletar", character_skill_path(@character, skill), method: :delete %>
      </li>
      <li>Nome: <%= skill.name %></li>
      <li>Efeitos: 
        <ul>
          <% skill.effects.each do |effect| %>
            <li><%= effect.name %></li>
          <% end %>
        </ul>
      </li>
      <li>Custo: <%= skill.cost %></li>
      <li>Descrição: <%= skill.description %></li>    
      <li>Skill Ups:</li>
      <ol>
        <% skill.levels.each do |level| %>
          <li><%= level %></li>
        <% end %>
      </ol>
      <hr>
    <% end %>
  <% end %>
  <%= link_to  "Cadastrar nova skill", new_character_skill_path(@character) %>
</ul>
