<h1 class="text-center"><%= @character.name %></h1>


<div class="d-flex row">

  <div class="col-md-4" id="character-card">


    <div class="card card-glow card-char mb-4">
      <div class="row">

        <div class="char-img col-6 col-md-12">

          

          <% if @character.picture.attached? %>

          <!-- Character Portrait Box -->
          <div class="char-portrait-box" style="position: relative;">
            <!-- Character Portrait Image -->
            <%= image_tag @character.picture, class: 'card-img-top' %>

            <!-- Cloth Repair Button -->
            <% if @character.skills.any?(&:cloth?) %>
              <%= button_tag class: 'cloth-button', onclick: 'toogleCloth()', title:'Cloth Repair' do %>
                <div class="cloth-toggle" id="cloth-toggle">
                  <%= show_svg('characters/cloth.svg') %>
                </div>
              <% end %>
            <% end %>
            <!-- /Cloth Repair Button -->
          </div>
          <!-- /Character Portrait Box -->
          <% end %>
        </div>



        <div class="div-table row col-6 col-md-12">
          <%= render 'stats/stats', stats: @stats %>

          <div class="tr">
            <div class="td"><%= image_tag '/assets/characters/constellation.png', title: 'Constelação', size: 50 %><span>Constelação:</span></div>
            <div class="td"> <%= @character.constellation.name %></div>
          </div>

        </div>
      </div>
    </div>
    <%= render 'characters/admin_panel' %>

    <%= render 'cosmos_sets/cosmos_sets', cosmos_sets: @cosmos_sets %>

  </div>

  <div class="col-md-8">
    <%= render @skills %>
    <%= link_to  "Cadastrar nova skill", new_character_skill_path(@character), class: 'admin' %>
  </div>
</div>
