<h1>Personagem</h1>
<ul>
  <li>Nome: <%= @character.name %></li>
  <li>Rank: <%= @character.rank.name %></li>
  <li>Rank: <%= @character.constellation.name %></li>
  <h2>Status</h2>
  <% if @character.stat %>
    <li>Vida: <%= @character.stat.health %></li>
    <li>Ataque: <%= @character.stat.patk %></li>
    <li>Defesa: <%= @character.stat.pdef %></li>
    <li>Ataque Mágico: <%= @character.stat.matk %></li>
    <li>Defesa Mágica: <%= @character.stat.mdef %></li>
    <li>Velocidade: <%= @character.stat.speed %></li>
  <% else %>
    <%= link_to  "Cadastrar Status", new_character_stat_path(@character) %>
  <% end %>
  
  <h2>Skills</h2>
  <% if @character.skills %>
    <% @character.skills.each do |skill| %>
    <li>Nome: <%= skill.name %></li>
    <li>Efeitos: 
      <ul>
        <% skill.effects.each do |effect| %>
          <li><%= effect.name %></li>
        <% end %>
      </ul>
    </li>
    <li>Custo: <%= skill.cost %></li>
    <li>Descrição: <%= skill.description %></li>
    <% end %>
  <% end %>
  <%= link_to  "Cadastrar nova skill", new_character_skill_path(@character) %>
</ul>
