<h1 class="text-center"><%= @character.name %> - <%= @character.constellation.name %></h1>


<div class="d-flex row">

  <div class="col-md-4">
    <div class="admin">
      <%= link_to fa_icon("edit 2x"), edit_character_path(@character), class: 'admin' %>
      <%= link_to fa_icon("trash 2x"), character_path(@character), method: :delete, data: {confirm: "Remover o personagem e todas skills?"}, class: 'admin text-danger' %>
    </div>

    <div class="card card-glow card-char mb-4">
      <% if @character.picture.attached? %>
        <%= image_tag @character.picture, class: 'card-img-top' %>
      <% end %>

    <% if @character.stat %>
      <div class="div-table">
        <div class="tr"> 
          <div class="td"><%= image_tag 'characters/pv.png', title: 'Pontos de Vida' %><span>Pontos de Vida:</span></div>
          <div class="td"><strong><%= @character.stat.health %></strong></div>
        </div>
        <div class="tr"> 
          <div class="td"><%= image_tag 'characters/atk_fis.png', title: 'Ataque Físico' %><span>Ataque Físico:</span></div>
          <div class="td"><strong><%= @character.stat.patk %></strong></div>
        </div>
        <div class="tr"> 
          <div class="td"><%= image_tag 'characters/def_fis.png', title: 'Defesa Física' %><span>Defesa Física:</span></div>
          <div class="td"><strong><%= @character.stat.pdef %></strong></div>
        </div>
        <div class="tr"> 
          <div class="td"><%= image_tag 'characters/atk_cos.png', title: 'Ataque Cósmico' %><span>Ataque Cósmico:</span></div>
          <div class="td"><strong><%= @character.stat.matk %></strong></div>
        </div>
        <div class="tr"> 
          <div class="td"><%= image_tag 'characters/def_cos.png', title: 'Defesa Cósmica' %><span>Defesa Cósmica:</span></div>
          <div class="td"><strong><%= @character.stat.mdef %></strong></div>
        </div>
        <div class="tr"> 
          <div class="td"><%= image_tag 'characters/speed.png', title: 'Velocidade' %><span>Velocidade:</span></div>
          <div class="td"><strong><%= @character.stat.speed %></strong></div>
        </div>
      </div>

      <div class="float-right admin">
        <%= link_to  fa_icon("edit 2x"), edit_character_stat_path(@character, @character.stat), class: 'admin edit' %>
        <%= link_to  fa_icon("trash 2x"), character_stat_path(@character, @character.stat), method: :delete, data: {confirm: "Remover os Status?"}, class: 'admin delete text-danger' %>
      </div>          
    <% else %>
      <%= link_to  "Cadastrar Status", new_character_stat_path(@character), class: 'admin' %>
    <% end %>

    </div>
      <% if @character.cosmos_sets %>
      <div id="cosmos_set">
        <h4>Cosmos Recomendados</h4>
        <% @character.cosmos_sets.each do |cosmos_set| %>
          <div class="card card-glow mb-4">
            <div class="row px-3">
              <% cosmos_set.cosmos.each do |cosmo| %>
                <div class="col-3 py-2">
                  <% if cosmo.picture.attached? %>
                    <%= image_tag cosmo.picture, class: 'img-fluid', title: cosmo.name %>
                  <% end %>
                </div>
              <% end %>
              <%= link_to  fa_icon("edit 2x"), edit_character_cosmos_set_path(@character, cosmos_set), class: 'admin edit' %> 
              <%= link_to  fa_icon("trash 2x"), character_cosmos_set_path(@character, cosmos_set), method: :delete, data: {confirm: "Remover o Set de Cosmos?"}, class: 'admin delete text-danger' %>
            </div>
          </div>
        <% end %>
      </div>
      <% end %>
    <%= link_to  "Cadastrar Set de Cosmos", new_character_cosmos_set_path(@character), class: 'admin' %>
  </div>

  <div class="col-md-8">

    <% if @character.skills %>
    <% @character.skills.order(id: :asc).each do |skill| %>
            <div class="card mb-4 card-glow card-rounded">

              <div class="card-header">
                <!-- <%= image_tag 'frames/top_card.png', class: 'top-card' %> -->
                <div class="row">
                    <div class="col-2">
                      <% if skill.picture.attached? %>
                        <%= image_tag skill.picture, class: "border-black" %>
                        <div class="bot-right">
                          <%= image_tag "characters/energy_point.png", class: "img-number" %>
                          <span class="number"><%= skill.cost %></span>
                        </div>
                      <% end %>
                    </div>
              
                  <div class="col-10">  
                    <h5 class="card-title"><%= skill.name %></h5>
                      <ul class="two-columns">
                        <% skill.effects.each do |effect| %>
                          <li><%= effect.name %></li>
                        <% end %>
                      </ul>
                  </div>
                </div>
              </div>

              
              <div class="card-body">
                <p class="card-text">
                  <%= skill.description %>
                </p>
                <% if skill.levels.present? %>
                  <hr>
                  <ol>
                    <% skill.levels.each do |level| %>
                      <li><%= level %></li>
                    <% end %>
                  </ol>
                <% end %>
                <span>
                  <%= link_to  fa_icon("edit 2x"), edit_character_skill_path(@character, skill), class: 'admin edit' %>
                  <%= link_to  fa_icon("trash 2x"), character_skill_path(@character, skill), method: :delete, data: {confirm: "Remover essa skill?"}, class: 'admin delete text-danger' %>
                </span>
              </div>

              <br>
            </div>
            <% end %>
          <% end %>
          <%= link_to  "Cadastrar nova skill", new_character_skill_path(@character), class: 'admin' %>
  </div>
</div>
