<h1 class="text-center"><%= @character.name %> - <%= @character.constellation.name %></h1>


<div class="d-flex row">

  <div class="col-md-4" id="character-card">


    <div class="card card-glow card-char mb-4">
      <div class="admin">
        <%= link_to fa_icon("edit 2x"), edit_character_path(@character), style: 'position: absolute;left:0;top: 0;' %>
        <%= link_to fa_icon("trash 2x"), character_path(@character), method: :delete, 
                    data: {confirm: "Remover o personagem e todas skills?"}, class: 'text-danger', style: 'position: absolute;right:0;top: 0;' %>
      </div>

      <div class="row">
        <div class="char-img col-6 col-md-12">
          <% if @character.picture.attached? %>
            <%= image_tag @character.picture, class: 'card-img-top' %>
          <% end %>

        <% if @character.skills.any?(&:cloth?) %>

          <%= button_tag class: 'cloth-button', onclick: 'toogleCloth()', title:'Cloth Repair' do %>
            <div class="cloth-toggle" id="cloth-toggle">
              <%= show_svg('characters/cloth.svg') %>
            </div>
          <% end %>

        <% end %>
        </div>

        <div class="div-table row col-6 col-md-12">
          <%= render @stat || 'shared/links/new_char_stats' %>
        </div>
      </div>
      

    </div>
      <% if @character.cosmos_sets %>
      <div id="cosmos_set">
        <h4 class="text-center">Cosmos Recomendados</h4>
        <%= link_to  "Cadastrar Set de Cosmos", new_character_cosmos_set_path(@character), class: 'admin' %>
        <% @character.cosmos_sets.each do |cosmos_set| %>
        <div class="card-glow mb-4 mx-auto p-1" style="max-width: 300px;">
          <div class="row m-0 p-0">
            <% cosmos_set.cosmos.each do |cosmo| %>
              <div class="col-3 py-2">
                <% if cosmo.picture.attached? %>
                  <%= image_tag cosmo.picture, class: 'img-fluid', title: cosmo.name %>
                <% end %>
              </div>
            <% end %>
            <div class="admin">
              <%= link_to  fa_icon("edit 2x"), edit_character_cosmos_set_path(@character, cosmos_set), class: 'edit' %>
              <%= link_to  fa_icon("trash 2x"), character_cosmos_set_path(@character, cosmos_set), method: :delete,
              data: {confirm: "Remover o Set de Cosmos?"}, class: 'delete text-danger' %>
            </div>
          </div>
        </div>
      <% end %>
      </div>
      <% end %>
  </div>

  <div class="col-md-8">
    <%= render @skills %>
    <%= link_to  "Cadastrar nova skill", new_character_skill_path(@character), class: 'admin' %>
  </div>
</div>
