<p>
  <%= f.label :health, 'Vida' %>
  <%= f.text_field :health %>
</p>
<p>
  <%= f.label :patk, 'Ataque Físico' %>
  <%= f.text_field :patk %>
</p>
<p>
  <%= f.label :pdef, 'Defesa Física' %>
  <%= f.text_field :pdef %>
</p>
<p>
  <%= f.label :matk, 'Ataque Mágico' %>
  <%= f.text_field :matk %>
</p>
<p>
  <%= f.label :mdef, 'Defesa Mágica' %>
  <%= f.text_field :mdef %>
</p>
<p>
  <%= f.label :speed, 'Velocidade' %>
  <%= f.text_field :speed %>
</p>
<%= f.submit 'Enviar' %>